<div class="wrapper">
  <table (wheel)="onTableWheel($event)">
    <tr *ngFor="let row of rows">
      <td
        *ngFor="let col of cols"
        [ngStyle]="{
          width: toPx(colWidth),
          height: toPx(rowHeight)
        }"
        [ngClass]="{
          header: col === 0 || row === 0
        }"
      >
        <span *ngIf="col === 0 && row === 0; else cl"></span>

        <ng-template #cl>
          <span *ngIf="col === 0">{{ getHeaderRow(row) }}</span>
          <span *ngIf="row === 0">{{ getHeaderCol(col) }}</span>
        </ng-template>

        <ng-container *ngIf="col !== 0 && row !== 0">
          <input
            [readonly]="!isEdit"
            type="text"
            data-cell="true"
            [attr.data-page]="
              getPage(calculatedColIndexes[col], calculatedRowIndexes[row])
            "
            [attr.data-location]="getCellLocation(col, row)"
            [value]="getCellValue(col, row)"
          />
        </ng-container>
      </td>
    </tr>
  </table>
</div>
<div
  class="sheet-container"
  (scroll)="onSheetContainerScroll($event)"
  #container
>
  <div
    [style]="{
      width: toPx(fakeContainerWidth),
      height: toPx(fakeContainerHeight)
    }"
  ></div>
</div>
